{% extends "base.html" %}


{% block content %}
    <div class="body-wrapper">

		<section>
			<div class="container">
				<div class="row">
					<div class="content-wrapper">
						<div class="col-sm-12">
							<div class="main-topic">
								<div class="row">
									<div class="col-sm-12">
										<h3>{{ object }}</h3>
									</div>
								</div>
							</div>
							<div class="topic-desc-wrapper">
								<div class="row">
									<div class="col-sm-2">
										<div class="feedback-buttons">
											<button class="btn"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
											<span>1</span>
											<button class="btn"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
										</div>
									</div>
									<div class="col-sm-10">
										<div class="topic-desc-inner">
											{{ object.description|linebreaks }}
										</div>
										<div class="comment-wrapper">
											{% for qus_comment in qus_comments %}
											<div class="comment-inner">
												{{ qus_comment.comment_description }}
											</div>
											{% endfor %}
											<div class="add-coomment">
												<a href="javascript:void(0);" data-toggle="modal" data-target="#add-comment">Add A Comment</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="answer-wrapper">
								<div class="row">
									<div class="col-sm-12">
										<h4>10 Answers</h4>
									</div>
									<div class="col-sm-12">
										<div class="answer-inner">
											<div class="row">
												<div class="col-sm-2">
													<div class="feedback-buttons">
														<button class="btn"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
														<span>1</span>
														<button class="btn"><i class="fa fa-caret-down" aria-hidden="true"></i></button>
													</div>
												</div>
												<div class="col-sm-10">
                                                    {% for a in answer %}
													<div class="topic-desc-inner">
														{{ a.pk }}
														{{ a.answer_description}}
														}
													</div>
													<div class="comment-wrapper">
														{% for ans_comment in ans_comments %}
														{% if ans_comment.answer_id_id == a.id %}
														<div class="comment-inner">
															{{ ans_comment.comment_description }}
														</div>
														{% endif %}
														{% endfor %}
														<div class="add-coomment">
															<a href="javascript:void(0);" data-toggle="modal" data-target="#add-comment{{ a.pk }}">Add A Comment</a>
														</div>
														<div id="add-comment{{ a.pk }}" class="modal fade" role="dialog">
														  <div class="modal-dialog">
													        <div class="modal-content">
													        	<form method="post">
													          <div class="modal-header">
													            
													            {% csrf_token %}
													                                            
													            <button type="button" class="close" data-dismiss="modal">&times;</button>
													          </div>
													          <div class="modal-body">
													            {{ answer_coment_form.as_p }}
													            <!-- <textarea placeholder="Enter Your Answer" rows="5" style="width:100%;"></textarea> -->
													          </div>
													          <div class="modal-footer">
													          	<input type="hidden" name="answer" value="1">
																<input type="hidden" name="answer_obj" value="{{ a.pk }}">
													            <button type="submit" class="btn btn-success">Submit</button>
													            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													          </div>
													          </form>
													        </div>

													      </div>
														</div>
													</div>
                                                    {% endfor %}
                                                    
                                                    <div class="add-ans">
                                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#post-answer">Post Answer</a>
                                                    </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

    </div>

    <div id="add-comment" class="modal fade" role="dialog">
	  <div class="modal-dialog">
        <div class="modal-content">
        	<form method="post">
          <div class="modal-header">
            
            {% csrf_token %}
                                            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {{ question_coment_form.as_p }}
            <!-- <textarea placeholder="Enter Your Answer" rows="5" style="width:100%;"></textarea> -->
          </div>
          <div class="modal-footer">
          	<input type="hidden" name="question" value="1">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>

      </div>
	</div>

    <div id="post-answer" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        	<form method="post">
          <div class="modal-header">
            
            {% csrf_token %}
                                            
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            {{ form.as_p }}
            <!-- <textarea placeholder="Enter Your Answer" rows="5" style="width:100%;"></textarea> -->
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </form>
        </div>

      </div>
    </div>


{% endblock %}
